:root {
    --orange: #FA6432;
    --yellow-light: #FFCC4B;
    --yellow-dark: #F1A600;
    --grey-light: #F8F9FA;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Pt sans';
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

.small-letters {
    font-size: 0.8em;
}

a {
    color: var(--orange);
    text-decoration: none;
 }

a:hover, a:focus, a:active {
    text-decoration: underline;
 }

 .date {
    color: var(--yellow-dark)
}

.headline-link {
    color: black;
    text-decoration: none;
}

.headline-link:hover {
    color: black;
}

.serif-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -0.08rem;
}

.monospace-font {
    font-family: Arial, Helvetica, sans-serif
}

/* ----------------------
       Article page
------------------------- */


#article-cover-img {
    height: 500px;
    width: auto;
}

#cover-img-stripe {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-large-article {
    width: 100%;
    object-fit: cover;
    height: 400px;
    object-position: center;
}

.author-section {
    background-color: var(--grey-light);
    padding: 10px;
    border-radius: 5px;
    
}

.shadow-light {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(217,217,217,0.4);
    -moz-box-shadow: 1px 1px 10px 0px rgba(217,217,217,0.4);
    box-shadow: 1px 1px 10px 0px rgba(217,217,217,0.4);
}

.shadow-strong {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(217,217,217,0.6);
      -moz-box-shadow: 1px 1px 10px 0px rgba(217,217,217,0.6);
      box-shadow: 1px 1px 10px 0px rgba(217,217,217,0.7);
  }

  .article-div li {
    font-size: 1.2em;
  }

/* ----------------------
       Home page
------------------------- */

.img-large-home {
    width: 100%;
    object-fit: cover;
    height: 400px;
}

.img-small {
    width: 180px;
    object-fit: cover;
    height: 150px;
}

.img-small-home {
    width: 100%;
    object-fit: cover;
    height: 160px;
}

@media only screen and (min-width: 920px) {
    .mobile-divider {
        display: none;
    }
}
