{% extends "base.html" %} 
{% block title %} {{ article.title }} {% endblock %}
{% block description %}"{{ article.metadata }}"{% endblock %}

{% block head %}
<!-- Structured Data -->
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "author": {
        "@type": "Person",
        "name": "{{ article.author }}",
        "url": ""
      },
      "image": "{{ url_for('static', filename='images/article_images/' + article.image_main, _external=True) }}",
      "headline": "{{ article.title }}",
      "datePublished": "{{ article.date_published.astimezone().strftime("%Y-%m-%dT%H:%M:%S%z") }}",
      "url": "{{ url_for('article', article_url=article.url, _external=True) }}"
    }
    </script>

{% endblock %}

{% block content %}

<div class="container-fluid p-3">

    <!--<div id="cover-img-stripe" class="row p-3 justify-content-center" style="background-image: url('static/images/article_images/{{ article.image_main }}')"> 
    </div>-->
   
    <img class="img-large-article" src="../static/images/article_images/{{ article.image_main }}" alt="{{ images_dict[article.image_main]['alt'] }}" />
    
        

    <div class="row p-3 justify-content-center">
        <div class="col-lg-7 col-md-10 col-sm-12 article-div">

            <h1 class="mt-5 mb-5">{{ article.title }}</h1>
            <p class="mb-3 date">{{ article.date_published.strftime('%B %d, %Y') }}</p>
            {{ article.text|safe }}

            <div class="col-12 mt-5 author-section shadow-strong">
                <div class="row">
                    <div class="col-4 d-flex justify-content-center">
                        <img src="../static/images/logos/hana-profile.png" height="100px">
                    </div>
                    <div class="col-8">
                        <h5 class="fw-bolder">{{ article.author }}</h5>
                        <p>Language enthusiast</p>
                    </div>
                </div>
                
            </div>
            

        </div>

        <div class="col-lg-3 col-md-6 col-sm-10 mt-5 d-flex flex-column justify-content-around">
            {% for sugg in suggestions %}
            
            <div class="container m-2">
                <div class="row">
                    <div class="col">
                        <img class="img-small-home" src="../static/images/article_images/{{ sugg.image_main }}" alt="{{ images_dict[sugg.image_main]['alt'] }}" />
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <a class="headline-link" href="{{ url_for('article', article_url=sugg.url) }}"><h5 class="fw-bold">{{ sugg.title }}</h5></a>

                        
                    </div>
                </div>
            </div>
            
            {% endfor %}
            
        </div>

    </div>
</div>




{% endblock %}